<div class='panel panel-primary margin__top'>
  <div class='panel-heading'>
    <h3 class='panel-title'>Register for a test:</h3>
  </div>
  <div class='panel-body text-center'>
    <%= link_to 'Create new test', new_test_path, class: 'btn btn-primary btn-lg' %>
  </div>
</div>
