<% [:success, :notice, :error, :alert].each do |level| %>
   <% unless flash[level].blank? %>
     <div class="<%= flash_class(level) %> fade in expire">
      <a href="#" data-dismiss="alert" class="close">x</a>
       <%= content_tag :p, flash[level] %>
     </div>
   <% end %>
<% end %>
